.sidebar[b-0zzg8qkkpi] {
    background: linear-gradient(180deg, #8ea6b8 0%, #5e788c 100%);
    border-radius: 0 34px 34px 0;
    box-shadow: 18px 0 45px rgba(74, 96, 112, 0.18);

}

.top-row[b-0zzg8qkkpi] {
    height: 6.5rem;
    padding-top: 12px; /* ← ВОТ ЭТО */
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(16px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    display: flex;
    align-items: center;
}

    .top-row .container-fluid[b-0zzg8qkkpi] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 22px 0 32px;
    }

.navbar-brand[b-0zzg8qkkpi] {
    margin: 10px 0 0 0;
    font-size: 28px;
    font-weight: 900;
    color: white;
    line-height: 1;
}

/* ❗ ГЛАВНЫЙ ФИКС */
.navbar-toggler[b-0zzg8qkkpi] {
    display: none; /* скрыли на десктопе */
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.72);
    align-items: center;
    justify-content: center;
    padding: 0;
}

.navbar-toggler-icon[b-0zzg8qkkpi] {
    width: 24px;
    height: 24px;
}

.nav-scrollable[b-0zzg8qkkpi] {
    background: linear-gradient(180deg, #8ea6b8 0%, #5e788c 100%);
    min-height: calc(100vh - 5.5rem);
    padding: 18px 14px;
}

.nav-item[b-0zzg8qkkpi] {
    font-size: 16px;
    margin-bottom: 12px;
}

    .nav-item[b-0zzg8qkkpi]  a {
        height: 50px;
        color: rgba(255, 255, 255, 0.86);
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 14px;
        padding: 0 18px;
        font-weight: 800;
        transition: 0.2s ease;
    }

        .nav-item[b-0zzg8qkkpi]  a:hover {
            background-color: rgba(255, 255, 255, 0.18);
            color: white;
            transform: translateX(3px);
        }

        .nav-item[b-0zzg8qkkpi]  a.active {
            background-color: #dfff3f;
            color: #263844;
            box-shadow: 0 14px 30px rgba(190, 225, 40, 0.35);
        }

.bi[b-0zzg8qkkpi] {
    font-size: 20px;
    color: inherit;
}

/* 👇 ТОЛЬКО НА МОБИЛКЕ ПОКАЗЫВАЕМ */
@media (max-width: 640px) {
    .navbar-toggler[b-0zzg8qkkpi] {
        display: flex;
    }

    .top-row[b-0zzg8qkkpi] {
        background: linear-gradient(180deg, #8ea6b8 0%, #5e788c 100%);
    }

    .nav-scrollable[b-0zzg8qkkpi] {
        min-height: auto;
        border-radius: 0 0 28px 28px;
    }
}
@media (min-width: 641px) {
    .nav-scrollable[b-0zzg8qkkpi] {
        display: block !important;
        height: calc(100vh - 5.5rem);
        overflow-y: auto;
    }

    .collapse[b-0zzg8qkkpi] {
        display: block !important;
    }
}

.parking-brand[b-0zzg8qkkpi] {
    margin-top: 18px !important;
}
